
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_home.css'%}">
    <style id="applicationStylesheet" type="text/css">

    </style>
</head>
<body>
	<div class="header">
        <div class="icon">

        </div>

        <div id="mail">
            <p>raul.recab@gmail.com</p>
        </div>
        <div id="phone">
            <p>+569 76003770</p>
        </div>
    </div>
    <div class="content">
        <p id="sub_1">En Recab Medical realizamos</p>
        <h1 id="tittle_1">Reparación de maquinaria médica de primer nivel</h1>
        <p id="sub_2">Déjanos darle una segunda opción</p>

        <div class="button">
            <a href="#"><button id="button_1">INICIAR SESIÓN</button></a>
        </div>
    </div>
    <footer>
        <div id="separator"></div>

        <div id="grid_menu1">
            <div id="col1">
                <h6>
                    Urgencias
                </h6>
                <p>Estamos cuando más nos necesitas.</p>
            </div><div id="col2">
                <h6>
                    Maquinaria
                </h6>
                <p>Realizamos evaluaciones a todo tipo de maquinarias.</p>
            </div>
        </div>
    </footer>
</body>
</html>
