/* Reset para garantizar la coherencia entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Asegúrate de que esta sea la fuente deseada */
    line-height: 1.6;
    background-color: #f4f4f4; /* Color de fondo como en la imagen */
    color: #333;
    padding: 20px;
}

/* Estilo para la cabecera, ajusta los valores según tu diseño */
header {
    color: #fff;
    background: #007bff; /* Ajusta este valor al color exacto de tu diseño */
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

/* Estilos para el logo y la información de contacto */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2); /* Sombra suave alrededor del input */
    outline: none; /* Elimina el contorno predeterminado */
}
input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* Estilo para el contenedor del grupo de formulario */
.form-group {
    margin-bottom: 20px; /* Espacio entre grupos de formulario */
  }
  
  /* Estilo para las etiquetas del formulario */
  .form-group label {
    display: block; /* Hace que las etiquetas se muestren en una línea separada */
    font-weight: bold; /* Texto en negrita para las etiquetas */
    margin-bottom: 5px; /* Espacio entre etiquetas y campos de entrada */
  }
  
  /* Estilo para los campos de entrada del formulario */
  .form-group input {
    width: 100%; /* Los campos de entrada ocupan todo el ancho del contenedor */
    padding: 10px; /* Espacio interno para un aspecto más agradable */
    border: 1px solid #ccc; /* Borde con color de borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    outline: none; /* Elimina el contorno predeterminado del campo en foco */
    transition: border-color 0.2s; /* Efecto de transición en el color del borde */
  }
  
  /* Cambio de estilo cuando el campo de entrada está en foco */
  .form-group input:focus {
    border-color: #007BFF; /* Cambia el color del borde cuando está en foco */
  }
  
  /* Estilo para los mensajes de error (puedes ocultarlos o mostrarlos según tu lógica) */
  .error-message {
    color: #FF0000; /* Color rojo para los mensajes de error */
    font-size: 14px; /* Tamaño de fuente para los mensajes de error */
  }
.contact-info {
    text-align: right;
}

.contact-info div {
    margin-bottom: 5px;
}

/* Ajustes para el contenido principal */
.content-1 span {
    font-size: 2rem; /* Ajusta el tamaño de la fuente */
    display: block; /* Hace que span se comporte como bloque */
    margin-bottom: 20px; /* Espacio debajo del span */
    color: #333; /* Ajusta el color del texto */
}

.content-2 {
    text-align: center; /* Centra los elementos */
}

.content-2 h3 {
    color: #333; /* Ajusta el color del texto */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    margin-bottom: 10px; /* Espacio debajo del título */
}

.search-type {
    display: flex;
    justify-content: space-around; /* Espaciado uniforme de los elementos */
    flex-wrap: wrap; /* Permite la envoltura de elementos */
    gap: 20px; /* Espacio entre elementos */
}

.search-type a {
    text-align: center; /* Centra el texto de los enlaces */
    color: #333; /* Ajusta el color del texto */
    text-decoration: none; /* Quita el subrayado */
}

.search-type img {
    margin-bottom: 10px; /* Espacio debajo de las imágenes */
}

/* Estilo para el botón de volver */
.button-back {
    display: inline-block;
    margin-top: 20px; /* Ajusta según sea necesario */
    background: #28a745; /* Ajusta este valor al color exacto de tu diseño */
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.button-back:hover {
    background: #218838; /* Un color ligeramente más oscuro para el efecto hover */
}

@media (max-width: 768px) {
    .logo, .contact-info {
        flex-direction: column;
        text-align: center;
    }

    .logo img {
        margin-bottom: 10px;
    }
}
th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

a, button, input[type="submit"]{
    font-size: small;
    text-decoration: none;
    border : 1px solid #110b0b;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
    margin-top: 5px;
    background-color: #ddd;
    color: black;
    text-transform: uppercase;
}