* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;

}

/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Fuente por defecto */
    line-height: 1.6; /* Altura de línea para una mejor lectura */
    padding: 20px; /* Un poco de padding para no tocar los bordes de la ventana */
    background-color: #f4f4f4; /* Un color de fondo suave */
    color: #333; /* Color de texto principal */
}

/* Estilos para el contenedor principal */
.container {
    width: 80%; /* Ancho del contenedor */
    margin: auto; /* Centrar el contenedor */
    overflow: hidden; /* Manejar el desbordamiento */
}

/* Estilos para los encabezados */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px; /* Margen inferior para separar de los siguientes elementos */
}

/* Estilos para los párrafos */
p {
    margin-bottom: 10px; /* Margen inferior para separar párrafos */
}

/* Clase de utilidad para añadir un margen superior */
.mt {
    margin-top: 20px;
}

/* Clase de utilidad para añadir un margen inferior */
.mb {
    margin-bottom: 20px;
}

/* Estilos para los enlaces */
a {
    color: #333;
    text-decoration: none; /* Remover el subrayado de los enlaces */
}

a:hover {
    color: #555;
    text-decoration: underline; /* Subrayado al pasar el mouse para indicar clickeabilidad */
}

/* Estilos para los botones */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
}

button:hover {
    background-color: #555;
}

/* Media query para la responsividad */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}