/* Reset para garantizar la coherencia entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Asegúrate de que esta sea la fuente deseada */
    line-height: 1.6;
    background-color: #f4f4f4; /* Color de fondo como en la imagen */
    color: #333;
    padding: 20px;
}

/* Estilo para la cabecera, ajusta los valores según tu diseño */
header {
    color: #fff;
    background: #007bff; /* Ajusta este valor al color exacto de tu diseño */
    padding: 10px 0;
    text-align: center;
}

/* Estilos para el logo y la información de contacto */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    /* Ajusta el tamaño según sea necesario */
}

.contact-info {
    text-align: right;
}

.contact-info div {
    margin-bottom: 5px;
}

/* Ajustes para el contenido principal */
.content-1 span {
    font-size: 2rem; /* Ajusta el tamaño de la fuente */
    display: block; /* Hace que span se comporte como bloque */
    margin-bottom: 20px; /* Espacio debajo del span */
    color: #333; /* Ajusta el color del texto */
}

.content-2 {
    text-align: center; /* Centra los elementos */
}

.content-2 h3 {
    color: #333; /* Ajusta el color del texto */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
    margin-bottom: 10px; /* Espacio debajo del título */
}

.search-type {
    display: flex;
    justify-content: space-around; /* Espaciado uniforme de los elementos */
    flex-wrap: wrap; /* Permite la envoltura de elementos */
    gap: 20px; /* Espacio entre elementos */
}

.search-type a {
    text-align: center; /* Centra el texto de los enlaces */
    color: #333; /* Ajusta el color del texto */
    text-decoration: none; /* Quita el subrayado */
}

.search-type img {
    margin-bottom: 10px; /* Espacio debajo de las imágenes */
}

/* Estilo para el botón de volver */
.button-back {
    display: inline-block;
    margin-top: 20px; /* Ajusta según sea necesario */
    background: #28a745; /* Ajusta este valor al color exacto de tu diseño */
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.button-back:hover {
    background: #218838; /* Un color ligeramente más oscuro para el efecto hover */
}

@media (max-width: 768px) {
    .logo, .contact-info {
        flex-direction: column;
        text-align: center;
    }

    .logo img {
        margin-bottom: 10px;
    }
}
th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

a, button, input[type="submit"]{
    font-size: small;
    text-decoration: none;
    border : 1px solid #110b0b;
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
    margin-top: 5px;
    background-color: #ddd;
    color: black;
    text-transform: uppercase;
}