
/* Reset b�sico para eliminar los m�rgenes y padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Fuente por defecto */
    line-height: 1.6; /* Altura de l�nea para una mejor lectura */
    padding: 20px; /* Un poco de padding para no tocar los bordes de la ventana */
    background-color: #f4f4f4; /* Un color de fondo suave */
    color: #333; /* Color de texto principal */
}

/* Estilos para el contenedor principal */
.container {
    width: 80%; /* Ancho del contenedor */
    margin: auto; /* Centrar el contenedor */
    overflow: hidden; /* Manejar el desbordamiento */
}

/* Estilos para los encabezados */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px; /* Margen inferior para separar de los siguientes elementos */
}

/* Estilos para los p�rrafos */
p {
    margin-bottom: 10px; /* Margen inferior para separar p�rrafos */
}

/* Clase de utilidad para a�adir un margen superior */
.mt {
    margin-top: 20px;
}

/* Clase de utilidad para a�adir un margen inferior */
.mb {
    margin-bottom: 20px;
}

/* Estilos para los enlaces */
a {
    color: #333;
    text-decoration: none; /* Remover el subrayado de los enlaces */
}

a:hover {
    color: #555;
    text-decoration: underline; /* Subrayado al pasar el mouse para indicar clickeabilidad */
}

/* Media query para la responsividad */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}

/* Estilos para los botones */
button {
display: inline-flex;
align-items: center;
justify-content: center;
border-radius: 0.375rem; /* Equivalente a rounded-md en Tailwind */
font-size: 0.875rem; /* Equivalente a text-sm en Tailwind */
font-weight: 500; /* Equivalente a font-medium en Tailwind */
--ring-offset-color: var(--ring-offset-background, transparent); /* Ajustar según el color de fondo deseado */
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; /* transition-colors */
outline: none; /* focus-visible:outline-none */
height: 2.5rem; /* h-10 */
padding: 0.75rem 1rem; /* py-3 px-4 */
width: 350px; /* w-full */
color: #ffffff; /* text-white */
background-color: #3b82f6; /* bg-blue-500 */
/* dark mode colors need media query or class toggle */
}

.boton:hover {
    background-color: #2563eb; /* hover:bg-blue-600 */
}

.boton:disabled {
pointer-events: none;
opacity: 0.5; /* disabled:opacity-50 */
}


@media (prefers-color-scheme: dark) {
.boton {
    background-color: #60a5fa; /* dark:bg-blue-400 */
}
.boton:hover {
    background-color: #bfdbfe; /* dark:hover:bg-blue-300 */
}
}

/* lg:w-auto will only apply for screen sizes large and above, adjust accordingly with a media query */
@media (min-width: 1024px) {
.boton {
    width: auto; /* lg:w-auto */
}
}
