<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_index.css'%}">
    <style id="applicationStylesheet" type="text/css">

    </style>
</head>

<body>
    <header>
        <div>
            <img src="" alt="">
            <h2>CLIENTES</h2>
        </div>
    </header>
    <main>
        <div>
            <input type="text" placeholder="Escribir el nombre del cliente">
            <button>BUSCAR</button>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        
        <table>
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>RAZÓN SOCIAL</th>
                    <th>RUT</th>
                    <th>DIRECCIÓN</th>
                    <th>EMAIL</th>
                    <th>TELÉFONO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.razon_social }}</td>
                    <td>{{ cliente.rut }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>
                        <a href="{% url 'editar_cliente' id=cliente.id %}">EDITAR</a>
                        <a href="{% url 'eliminar_cliente' id=cliente.id %}">ELIMINAR</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}">Volver</a>
        <a href="{% url 'new_client' %}">NUEVO</a>
    </main>
</body>

</html>