<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_config.css' %}">
    <style id="applicationStylesheet" type="text/css">
        /* Tus estilos personalizados aquí */
    </style>
</head>
<body>
    <header>
        <div>
            <!-- Aquí puedes poner el logo si tienes uno -->
            <img src="" alt="">
            <h2>Editar usuario</h2>
        </div>
    </header>
    <main>
        <div class="container">
            <form method="post" action="{% url 'editar_usuario' id=user.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.as_p }}

                <button type="submit" class="btn">Guardar Cambios</button>
                
            </form>
            <a href="{% url 'configuracion' %}">Volver</a>
        </div>
    </main>
</body>
</html>
