<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maquinaria</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_index.css'%}">
    <style id="applicationStylesheet" type="text/css">

    </style>
</head>

<body>
    <header>
        <div>
            <img src="" alt="">
            <h2>MAQUINARIA</h2>
        </div>
    </header>
    <main>
        <div>
            <input type="text" placeholder="Escribir el nombre de la maquinaria">
            <button>BUSCAR</button>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert { message.tags }">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>NUMERO DE SERIE</th>
                    <th>ORDEN</th>
                    <th>CLIENTE</th>
                    <th>MAQUINARIA</th>
                    <th>MARCA</th>
                    <th>AÑO</th>
                    <th>FECHA</th>
                    <th>FECHA CREACION</th>
                    <th>PROBLEMA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for maquina in maquinas %}
                <tr>
                    <td>{{ maquina.numero_serie }}</td>
                    <td>{{ maquina.orden }}</td>
                    <td>{{ maquina.cliente }}</td>
                    <td>{{ maquina.maquinaria }}</td>
                    <td>{{ maquina.marca }}</td>
                    <td>{{ maquina.año }}</td>
                    <td>{{ maquina.fecha }}</td>
                    <td>{{ maquina.fecha_creacion_m }}</td>
                    <td>{{ maquina.problema }}</td>
                    <td>
                        <a href="{% url 'editar_maquinaria' id=maquina.id %}">EDITAR</a>
                        <a href="{% url 'eliminar_maquinaria' id=maquina.id %}">ELIMINAR</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index'%}">Volver</a>
        <a href="{% url 'nueva_maquinaria'%}">NUEVO</a>
    </main>
</body>

</html>