<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Nuevo Cliente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_new_client.css' %}">
</head>
<body>
    <div class="container">
        <h2>Clientes</h2>
        <form method="post" action="{% url 'new_client' %}">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                    <div class="alert { message.tags }">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="razon_social">Razón Social:</label>
                <input type="text" id="razon_social" name="razon_social" required>
            </div>

            <div class="form-group">
                <lavel for="rut">Rut:</lavel>
                <input type="text" id="rut" name="rut" required>
            </div>

            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Agregar Nuevo</button>
            </div>
        </form>
        <a href="{% url 'cliente' %}" >Volver</a>
    </div>
</body>
</html>
