<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar una nueva maquinaria</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_index.css'%}">
    <style id="applicationStylesheet" type="text/css">
    </style>
</head>
<body>
	<div class="container">
        <h2>NUEVA ORDEN DE SERVICIO</h2>
        <form method="post" action="{% url 'nueva_maquinaria' %}">
            {% csrf_token %}
            
                <div class="form-group">
                    <div class="form-group">
                        <label for="orden">Orden:</label>
                        <input type="text" id="orden" name="orden" required>
                    </div>
                    <div class="form-group">
                        <label for="cliente">Cliente:</label>
                        <input type="text" id="cliente" name="cliente" required>
                    </div>
                    <div class="form-group">
                        <label for="maquinaria">Maquinaria:</label>
                        <input type="text" id="maquinaria" name="maquinaria" required>
                    </div>
                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <input type="text" id="marca" name="marca" required>
                    </div>
                    <div class="form-group">
                        <label for="numero_serie">Numero serie:</label>
                        <input type="text" id="numero_serie" name="numero_serie" required>
                    </div>
                    <div class="form-group">
                        <label for="año">Año:</label>
                        <input type="number" id="año" name="año" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input type="date" id="fecha" name="fecha" required>
                    </div>
                    <div class="form-group">
                        <label for="problema">Problema:</label>
                        <textarea id="problema" name="problema" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">Agregar Nuevo</button>
                    </div>
                    </form>
        <a href="{% url 'maquinaria' %}">Volver</a>
    </div>
</body>
</html>
