<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer contraseña</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_index.css'%}">
    <style id="applicationStylesheet" type="text/css">

    </style>
</head>

<body>
    <section class="w-full h-screen bg-cover bg-center flex flex-col justify-between px-8 py-4"
        style="background-image: url(&quot;/placeholder.svg?height=1080&amp;width=1920&quot;);">
        <header class="flex justify-between items-center">
            <div class="flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class=" h-8 w-8 text-gray-800 dark:text-gray-200">
                    <path
                        d="M11 2a2 2 0 0 0-2 2v5H4a2 2 0 0 0-2 2v2c0 1.1.9 2 2 2h5v5c0 1.1.9 2 2 2h2a2 2 0 0 0 2-2v-5h5a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-5V4a2 2 0 0 0-2-2h-2z">
                    </path>
                </svg>
                <div>
                    <h1 class="text-2xl font-bold text-gray-800 dark:text-gray-200">RECAB</h1>
                    <p class="text-sm text-gray-600 dark:text-gray-400">MEDICAL</p>
                </div>
            </div>
            <div class="space-x-4">
                <div class="flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class=" h-6 w-6 text-gray-600 dark:text-gray-400">
                        <path d="M22 17a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V9.5C2 7 4 5 6.5 5H18c2.2 0 4 1.8 4 4v8Z"></path>
                        <polyline points="15,9 18,9 18,11"></polyline>
                        <path d="M6.5 5C9 5 11 7 11 9.5V17a2 2 0 0 1-2 2v0"></path>
                        <line x1="6" x2="7" y1="10" y2="10"></line>
                    </svg>
                    <a href="#" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200">
                        raul.recab@gmail.com
                    </a>
                </div>
                <div class="flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class=" h-6 w-6 text-gray-600 dark:text-gray-400">
                        <path
                            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                        </path>
                    </svg>
                    <a href="#" class="text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200">
                        +569 76003770
                    </a>
                </div>
            </div>
        </header>
    </section>
    <main>
        <div>
            <h3>Escribe tu correo electrónico al que le quieres cambiar la contraseña y la nueva contraseña.</h3>
        </div>
        <form method="post" action="{% url 'reset_password' %}">
            {% csrf_token %}
            <div>
                <label for="email">Email:</label><input type="email" name="email" id="email" placeholder="Correo electrónico">
            </div>
            <div>
                <label for="password">Contraseña: </label><input type="password" name="password" id="password" placeholder="Contraseña actual">
            </div>
            <div>
                <label for="new-password">Nueva contraseña: </label><input type="password" name="new-password" id="new-password" placeholder="Nueva contraseña">
            </div>
            <div>
                <label for="re-new-password">Repite nueva contraseña: </label><input type="password" name="re-new-password" id="re-new-password" placeholder="Repite la contraseña">
            </div>
            <div>
                <input type="submit" value="Enviar" class="btn btn-primary">
            </div>
        </form>
        <a href="/login">VOLVER</a>
        {% if messages %}
            {% for message in messages %}
                    <div class="alert { message.tags }">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
    </main>

</body>

</html>